<div class="search-form">
    <input [formControl]="countryName" type="text" class="search-input" [placeholder]="placeholderValue">
    <label for="" class="icon-search"><i class="fa-solid fa-magnifying-glass"></i></label>
</div>