.search-form {
    display: flex;
    position: relative;
    width: 100% !important;
    max-width: 300px;
}

.search-input {
    background-color: #ededef;
    padding: 8px 33px 8px 20px;
    font-size: 12px;
    border: none;
    border-style: solid;
    border-width: 0px;
    border-radius: 50px;
    box-shadow: 2px 0px 13px 0px rgba(42, 42, 42, .34);
    text-shadow: 0px 0px 0px rgba(42, 42, 42, .75);
    width: 100%;
}

.search-input:focus {
    outline: none;
}

.icon-search {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}