<article>
    <div class="home-container">
        <div class="image-wrapper">
            <img src="../../../assets/images/3d-cloud-weather.png" alt="">
        </div>
        <div class="welcome-wrapper">
            <div>
                <div class="title">
                    <span>Forecast Weather</span>
                </div>
                <div class="btn-wrapper">
                    <button routerLink="/weather">
                        Read More
                    </button>
                    <label class="btn-icon">
                        <i class="fa-solid fa-smog"></i>
                    </label>
                </div>
            </div>
        </div>
    </div>
</article>