article {
    height: 100vh;
    width: 100vw;
    background-color: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, #1c9cf6 0%, #0e8be4 18%, #0396ff 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-container {
    background-color: white;
    height: 50vh;
    width: 50vw;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 12px 11px 46px -34px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 12px 11px 46px -34px rgba(0, 0, 0, 1);
    -moz-box-shadow: 12px 11px 46px -34px rgba(0, 0, 0, 1);
    border-radius: 44px 44px 44px 44px;
    -webkit-border-radius: 44px 44px 44px 44px;
    -moz-border-radius: 44px 44px 44px 44px;

    @media screen and (max-width:1024px) {
        padding: 5vh;
        height: fit-content;
        width: 70vw;
    }
}

.image-wrapper {
    flex: 1 1 50ch;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        max-width: 35%;
        width: 100%;
        height: auto;

        @media screen and (max-width:1280px) {
            max-width: 35%;
        }
    }
}

.welcome-wrapper {
    display: flex;
    flex: 1 1 40ch;
    align-items: center;
    padding-left: 20px;

    @media screen and (max-width:1024px) {
        justify-content: center;
    }

    .title {
        color: #0048a7 !important;
        font-weight: 900 !important;
        font-size: 1.8rem;

        @media screen and (max-width:1024px) {
            font-size: 1.2rem;
        }
    }
}


.btn-wrapper {
    padding-top: 1vh;
    position: relative;
    font-size: 0.9rem;

    @media screen and (max-width:1024px) {
        button {
            font-size: 0.6rem !important;
        }

        font-size: 0.6rem !important;
    }


    &:hover>.btn-icon {
        opacity: 0;
        transform: translate(100px, 15px);
        transition: .5s ease;
    }

    button {
        color: white;
        cursor: pointer;
        font-family: 'Barlow Condensed';
        font-weight: bold;
        padding: 10px 50px;
        text-transform: uppercase;
        background-color: #063592;

        @media screen and (max-width:1024px) {
            font-size: 0.6rem !important;
        }
    }

    .btn-icon {
        position: absolute;
        transform: translate(-40px, 12px);
        color: white;
        transition: .5s ease;
    }
}