<div class="wrapper">
    <div class="weather-description-list">
        <div *ngFor="let weatherDetail of weatherDetails">
            <app-weather-detail-card [title]="weatherDetail.title" [detail]="weatherDetail.detail"
                [footer]="weatherDetail.footer"></app-weather-detail-card>
        </div>
    </div>
    <div class="weather-forecast-wrapper">
        <div class="weather-forecast-list">
            <div class="hour-wrapper" *ngFor="let hour of (weatherHourList$ |async)">
                <div>
                    {{ hour.time| date:"HH:mm"}}
                </div>
                <div>
                    <img [src]="hour.condition.icon" alt="">
                </div>
                <div class="temperature-wrapper">
                    <span>{{ hour.temp_c}}ºC</span>
                </div>
            </div>
        </div>
    </div>
</div>