.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
}

.weather-detail-wrapper {
    min-height: 50vh;
}

.weather-description-list {
    display: flex;
    gap: 1.5em;
    flex-wrap: wrap;
    position: relative;

    div {
        flex: 0 1 172px !important;
        padding-top: 2vh;
        max-height: 10vh;
    }
}

.weather-forecast-wrapper {
    padding-top: 15vh;
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
}

.weather-forecast-list {
    width: 54vw;
    overflow-x: scroll;
    height: 120px;
    white-space: nowrap;
    display: flex;
    align-items: center;
    position: relative;

    .hour-wrapper {
        text-align: center;
        padding: 0 10px;
    }

    .temperature-wrapper {
        font-size: 0.9rem
    }

    img {
        height: 100%;
        width: 70px;
    }

    /** scrollbar style**/
    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    &::-webkit-scrollbar-button {
        width: 0px;
        height: 0px;
    }

    &::-webkit-scrollbar-thumb {
        background: #e1e1e1;
        border: 0px none #ffffff;
        border-radius: 50px;
    }

    &::-webkit-scrollbar-track {
        border: 0px none #ffffff;
        border-radius: 51px;
    }

    &::-webkit-scrollbar-corner {
        background: transparent;
    }
}


@media screen and (max-width: 767px) {
    .weather-description-list {
        display: flex;
        gap: 1.5em;
        flex-wrap: wrap;
        overflow-x: auto;
        height: 420px;
        white-space: nowrap;
    }

    .weather-forecast-list {
        width: 100vw;
    }

    .weather-description-list {
        padding: 0 20px;

        div {
            flex: 1 1 154px;

        }
    }
}

@media screen and (max-width: 440px) {
    .weather-description-list>div {
        flex: 1 1 172px !important;
    }
}