.weather-container {
    box-sizing: border-box;
    background-color: #d1cfcf;
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    overflow: auto;
}

.wrapper {
    position: relative;
    margin-top: 5%;
    width: 100%;
    height: fit-content;
    min-height: 60vh;
    max-width: 64vw;
    background-color: white;
    display: flex;
    flex-wrap: wrap;

    @media screen and (max-width: 767px) {
        max-width: none;
        max-height: none;
        margin-top: 0;
        width: 100%;
        height: 100vh;
    }

    .error-container {
        width: 100%;
        height: 40vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        span {
            font-family: Circular, Helvetica, sans-serif;
        }

        img {
            object-fit: cover;
            width: 100px;
        }
    }
}

.weather-detail-wrapper {
    flex: 1 1 24ch;
    padding: 1vw 0;
}


.forecast-menu {
    display: flex;
    gap: 0.5em;

    div {
        background: #fff;
        backface-visibility: hidden;
        border-radius: .375rem;
        border-style: solid;
        border-width: .125rem;
        box-sizing: border-box;
        color: #212121;
        cursor: pointer;
        display: inline-block;
        font-family: Circular, Helvetica, sans-serif;
        font-size: 0.8rem;
        font-weight: 700;
        letter-spacing: -.01em;
        line-height: 1.3;
        padding: .7rem .9rem;
        position: relative;
        text-align: left;
        text-decoration: none;
        transform: translateZ(0) scale(1);
        transition: transform .2s;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;

        &:hover {
            transform: scale(1.05);
        }

        &.active {
            background-color: red;
        }

        &:focus {
            outline: 0 solid transparent;
        }

        &:not(:disabled):active {
            transform: translateY(.125rem);
        }
    }

}


.weather-description {
    flex: 1 1 70ch;
    padding: 0 15px;
    background-color: #efefef;
    min-height: 50vh;
    min-width: 40vw;

    .forecast-menu {
        font-size: 1.5em;
        padding-top: 24px;
    }
}

.weather-description-wrapper {
    position: relative;
    height: fit-content;
    padding: 15px 0;
    min-height: 40vh !important;

    .forecast-list-wrapper {
        overflow-y: scroll;
        max-height: 65vh;

        /** scrollbar style **/
        &::-webkit-scrollbar {
            width: 6px;
            height: 6px;
        }

        &::-webkit-scrollbar-button {
            width: 0px;
            height: 0px;
        }

        &::-webkit-scrollbar-thumb {
            background: #e1e1e1;
            border: 0px none #ffffff;
            border-radius: 50px;
        }

        &::-webkit-scrollbar-track {
            background: #ffffff;
            border: 0px none #ffffff;
            border-radius: 51px;
        }

        &::-webkit-scrollbar-corner {
            background: transparent;
        }
    }
}