<article class="weather-container">
    <div class="wrapper">
        <div class="weather-detail-wrapper">
            <app-weather-detail></app-weather-detail>
        </div>
        <div class="weather-description">
            <div class="weather-title">
                <div class="forecast-menu">
                    <div (click)="toggleActive(true)" [class.active]="isTodayActive">
                        Today
                    </div>
                    <div (click)="toggleActive(false)" [class.active]="!isTodayActive">
                        Forecast
                    </div>
                </div>
            </div>
            <div class="weather-description-wrapper">
                <ng-container *ngIf="(!(isLoading$ |async) && isLocationPermitted)">
                    <app-weather-description *ngIf="isTodayActive" @fadeIn></app-weather-description>

                    <div class="forecast-list-wrapper" *ngIf="!isTodayActive">
                        <app-forecast @fadeIn *ngFor="let forecastDay of (forecastWeathersDayList$ | async)"
                            [forecastDay]="forecastDay"></app-forecast>
                    </div>
                </ng-container>

                <ng-container *ngIf="(isLoading$ |async) && isLocationPermitted">
                    <div class="error-container">
                        <app-loader></app-loader>
                    </div>
                </ng-container>

                <ng-container *ngIf="!isLocationPermitted">
                    <div class="error-container">
                        <div>
                            <img src="../../../assets/images/dead-cloud.svg" alt="SVG Image">
                        </div>
                        <span>Location is not permitted, please use the search feature</span>
                    </div>
                </ng-container>
            </div>
        </div>

    </div>
</article>