<div class="weather-detail">
    <div class="search-input-container">
        <app-search-input (handleCountryNameChange)="setCityName($event)"
            [placeholderValue]="'Enter country name'"></app-search-input>
    </div>
    <ng-container *ngIf="weather$ | async as weather">
        <div>
            <img class="icon-current-condition" [src]="weather.current.condition.icon" alt="">
        </div>
        <div class="weather-content">
            <div class="temperature-text">{{ weather.current.temp_c}}ºC </div>
            <div>{{ weather.current.condition.text}}</div>
            <hr>
            <div class="date-wrapper">
                <div>{{ weather.location.localtime | date: "dd-MMM-YYYY"}} </div>
                <div>{{ weather.location.localtime | date: "EEEE, HH:mm a"}}</div>
            </div>
            <div> {{ weather.location.name}}</div>
            <div> {{ weather.location.tz_id}}</div>
            <div> {{ weather.location.region}}</div>
        </div>
    </ng-container>

</div>