.weather-detail {
    width: 100%;
    display: flex;
    flex-direction: column;

    div {
        align-self: center;
    }

    img {
        min-width: 150px;
        max-width: 250px;
        width: 100%;
        object-fit: cover;
    }

    .search-input-container {
        display: flex;
        justify-content: center;
        width: 75%;
        padding-top: 15px;
        padding-bottom: 25px;
    }
}


.weather-content {
    text-align: center;
    font-family: 'Edu TAS Beginner', cursive !important;

    div {
        padding-top: 5px;
    }

    .temperature-text {
        font-size: 3em;
    }

    .date-wrapper {
        padding-bottom: 15px;
    }

}