.card-body {
    background-color: #8774f1;
    border-radius: 25px;
    color: white;
    font-family: 'edutas', cursive !important;
    font-size: 1.3rem;
    height: 100% !important;
    padding: 16px;
    font-size: 0.75rem;

    div {
        padding: 2px 0;
    }

    span {
        padding: 10px 0;
    }

    .detail {
        font-size: 1.2rem;
    }


    .title {
        font-weight: bold;
    }
}