<div class="card-body">
    <div>
        <span class="title">{{ title }}</span>
    </div>
    <div>
        <span class="detail">{{ detail }}</span>
    </div>
    <div>
        <span>{{ footer }}</span>
    </div>
</div>