.loader {
    width: 8px;
    height: 48px;
    display: block;
    margin: auto;
    left: -20px;
    position: relative;
    border-radius: 4px;
    box-sizing: border-box;
    animation: animloader 1s linear infinite alternate;
}

@keyframes animloader {
    0% {
        box-shadow: 20px 0 rgba(52, 193, 223, 0.8), 40px 0 white, 60px 0 grey;
    }

    50% {
        box-shadow: 20px 0 rgb(61, 16, 16), 40px 0 rgba(118, 200, 218, 0.8), 60px 0 grey;
    }

    100% {
        box-shadow: 20px 0 grey, 40px 0 white, 60px 0 rgba(255, 255, 255, 0.25);
    }
}