.forecast-wrapper {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 16px;
    height: fit-content;
    padding: 5px 0;
}


.forecast-list {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.23);
    cursor: pointer;
    align-self: center;
    padding: 16px 12px !important;
    flex-direction: column;

    &:hover {
        transition: transform .25s cubic-bezier(.7, .98, .86, .98), box-shadow .25s cubic-bezier(.7, .98, .86, .98);
        transform: scale(1.04);
        box-shadow: 0 9px 24px 11px rgba(51, 51, 51, 0.18);
    }

    .forecast-content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    img {
        object-fit: contain;
        width: 24px !important;
        padding-left: 3px;
    }
}


.forecast-hourly-wrapper {
    opacity: 0;
    height: 0;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
    transition: 0.5s ease;


    &.active {
        position: relative;
        width: 100%;
        opacity: 1;
        transition: 0.5 ease-in;
    }
}

/* title 4 list */
.forecast-hourly-list-title {
    display: flex;
    margin-top: 12px;
    font-size: .8rem;

    div {
        flex: 1 0 10%;
        justify-content: center;
        display: flex;
    }
}


/** list forecast hour**/
.forecast-hourly-list-wrapper {
    max-height: 200px;
    overflow-y: auto;

    /** scrollbar style **/
    &::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    &::-webkit-scrollbar-button {
        width: 0px;
        height: 0px;
    }

    &::-webkit-scrollbar-thumb {
        background: #e1e1e1;
        border: 0px none #ffffff;
        border-radius: 50px;
    }

    &::-webkit-scrollbar-track {
        background: #ffffff;
        border: 0px none #ffffff;
        border-radius: 51px;
    }

    &::-webkit-scrollbar-corner {
        background: transparent;
    }
}

.forecast-hourly-list {
    display: flex;
    align-items: center;
    margin: 12px 0;
    font-size: .8rem;

    div {
        flex: 1 0 10%;
        justify-content: center;
        display: flex;
    }
}

.forecast-hour-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



@media screen and (max-width: 767px) {
    .forecast-hourly-list {
        font-size: .7rem;
    }

    .forecast-hourly-list-title {
        font-size: .6rem;
    }

    img {
        width: 24px;
    }
}