<article class="forecast-wrapper" (click)="toggleActive()">
    <div class="forecast-list">
        <div class="forecast-content">
            <div>
                <span>{{forecastDay.date}}</span>
            </div>
            <div>
                <div>
                    <i class="fa-solid fa-circle-chevron-down"></i>
                </div>
            </div>
        </div>
        <div class="forecast-hourly-wrapper" [class.active]="isActive">
            <div class="forecast-hourly-list-title">
                <div>
                    <span>Hour</span>
                </div>
                <div>
                    <span>Temp</span>
                </div>
                <div>
                    <span>Feeling</span>
                </div>
                <div>
                    <span>Precipitation</span>
                </div>
                <div>
                    <span>Wind</span>
                </div>
            </div>
            <div class="forecast-hourly-list-wrapper">
                <div class="forecast-hourly-list" *ngFor="let hour of forecastDay.hour">
                    <div class="forecast-hour-section">
                        <div>
                            <img [src]="hour.condition.icon" alt="">
                        </div>
                        <div>
                            <span>{{hour.time | date: "HH:mm"}}</span>
                        </div>
                    </div>
                    <div>
                        <span>{{ hour.temp_c}}ºC</span>
                    </div>
                    <div>
                        <span>{{ hour.feelslike_c}}ºC</span>
                    </div>

                    <div>
                        <span>{{ hour.precip_mm }}%</span>
                    </div>
                    <div>
                        <span>{{ hour.wind_dir }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>