@font-face {
    font-family: 'poppin-bold';
    /* Font family name */
    src: url('../src//assets/fonts/Poppins-ExtraBold.ttf') format('ttf');
    /* Font file path and format */
}

@font-face {
    font-family: 'edutas';
    /* Font family name */
    src: url('../src/assets/fonts/EduTASBeginner-Regular.ttf') format('ttf');
    /* Font file path and format */
}


body,
html {
    height: 100%;
    margin: 0;
    overflow: auto;
}

body {

    /* or overflow-y: scroll; */
}